*{
    margin: 0;
    padding: 0;
}
.program{
    display: flex;
    flex-direction: row;
    background-color: rgb(181, 200, 211);
}
.sidebar{
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 250px;
    background-color: rgba(5, 23, 41, 0.959);
    margin: 15px;
    border-radius: 15px;
    color: white;
}
.out{
    margin-top: 650px;
    width: 250px;
    height: 50px;
    position: relative;
    right: 50px;
    border-radius: 10px;
    background-color: rgb(220, 53, 69);
    font-size: 18px;
}
.content1{
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.main{
    display: row;
    margin: 20px;
}
.sidebar1{
    width: 1600px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px;
}
.sidebar2{
    margin-top: 25px;
    background-color: white;
    height: 790px;
    width: 1600px;
    border-radius: 15px;
}
.otherbar{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}
.content{
    font-size: 20px;
    padding: 5px;
}
.inf{
    display: flex;
    flex-direction: row;
}
.register{
    display: none;
    flex-direction: column;
    background-color: rgb(14, 13, 13);
    width: 350px;
    color: white;
    border-radius: 5px;
    margin: 45px;
    position: relative;
    left: 15px;
    padding: 25px;
    font-size: 18px;
}
.dats{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}
h1{
    display: flex;
    justify-content: center;
}
p{
    margin: 15px;
}
.data{
    background-color: rgba(169, 169, 169, 0.785);
    width: 600px;
    height: 600px;
    margin: 50px;
    padding: 25px;
    display: none;
    flex-direction: column;
    position: relative;
    left: 250px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
}
.button{
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 70px;
}
#des{
    margin-top: 45px;
}
#add{
    background-color: blue;
    height: 35px;
    width: 250px;
    border: none;
    border-radius: 15px;
    margin-top: 350px;
    position: relative;
    left: 50px;
}
.btnS, .btnE, .btnR{
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 150px;
}
.btnS{
    background-color: green;
}
.btnE{
    background-color: rgb(255, 230, 0);
}
.btnR{
    background-color: red;
}
#close1{
    width: 20px;
    height: 20px;
    justify-content: center;
    position: relative;
    top: -20px;
    right: -350px;
}
#close2{
    width: 20px;
    height: 20px;
    justify-content: center;
    position: relative;
    top: -20px;
    left: 595px;
}
