body{
    background-color: rgba(12, 35, 70, 0.863);
    background-image: url("nikolay-kovalenko-66r7PAK1Qy0-unsplash-scaled.jpg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
div{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(4, 12, 24, 0.570);
    width: 450px;
    height: 200px;
    border-radius: 20px;
}
input{
    margin-top: 25px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 350px;
}
button{
    margin-top: 25px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 250px;
    background-color: rgb(4, 102, 24);
    color: white;
}
button:hover{
    background-color: rgb(2, 70, 16);
    cursor: pointer;
}

@media (max-width: 700px){
    form{
        width: 300px;
        height: 250px;
        background-color: rgba(28, 31, 36, 0.783);
    }
    input{
        width: 250px;
    }
    button{
        width: 200px;
        background-color: rgba(12, 35, 70, 0.863);
    }
    button:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
}
